
body{
    background-image: url(Pagezoo-Enterprise-SEO-Tools-Title-Image.jpg);
    background-size:cover;
    background-attachment:fixed;
    display: grid;
    height: auto;
}

.h4classA{
    text-align: center;
    color: white;
    opacity: none;
    font-weight: bolder;


}

.p_a{
    color: cornsilk;
    opacity: none;

}

.container-fluid{
    background: rgb(3, 3, 3);
    opacity: 0.8;
    width: 100%;
}