.contact form{
    width: 300px;   
    display:block;
    color: rgb(12, 12, 12);
    background: url(bee-hive-background-dikaseva.png);
    opacity: 0.5;
    border: 1px solid rgb(13, 13, 14);
    padding: 10px;
    box-shadow: 0 14px 28px rgba(94, 202, 235, 0.25), 0 10px 10px rgba(26, 207, 231, 0.22);
            }
            /*.item{
                color: rgb(12, 12, 12);
                background: url(bee-hive-background-dikaseva.png);
                opacity: 0.5;
                border: 1px solid rgb(13, 13, 14);
                padding: 10px;
                box-shadow: 0 14px 28px rgba(94, 202, 235, 0.25), 0 10px 10px rgba(26, 207, 231, 0.22);
            }*/